<html>
    <head>
        <script src="https://kit.fontawesome.com/c9acfba105.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/weekly-report.css">
        <link rel="stylesheet" href="css/nav-bar.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap" rel="stylesheet">
        <script src="js/jquery.js" type="text/javascript"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id='root-div'>
            <div id='content-div'>
                <div id='title-bar'>
                    <div id='hamburger-bar'>
                        <i class="fas fa-bars" id='hamburger-button'></i>
                    </div>
                </div>

                <div id='nav-bar' style='display:none;'>
                    <i class="fas fa-times" id='nav-close'></i>
                    <ul id='nav-bar-list'>
                        <li><a href='/home'>Home</a></li>
                        <li><a href='/add'>Add Activity</a></li>
                        <li><a href='/report'>Report</a></li>
                        <li><a href='/details'>All Activities</a></li>
                        <li><a href='/settings'>Settings</a></li>
                        <li><a href='/help'>Help</a></li>
                        <li><a href='/'>Log Out</a></li>
                    </ul>
                </div>

                <h1 style="margin-top: 5px;">Weekly Report</h1>
                <div id='options'>
                    <select id="week">
                        <option value="0">This Week</option>
                        <option value="1">Last Week</option>
                        <option value="2">2 Weeks Ago</option>
                    </select>
                    <select id="scale">
                        <option value="average">On average</option>
                        <option value="total">In total</option>
                    </select>
                </div>
                
                <div id='has-data-div'>
                    <h3>Report starts on <span>{{startDay}}</span></h3>
                    <!-- Dynamically filled -->
                    <canvas id='chart' width=200px height=200px></canvas>

                    <!-- Dynamically generated -->
                    <ul id='list'></ul>

                    <div id='buttons'>
                        {{!-- <select id="chart-type">
                            <option value="pie">Pie Chart</option>
                        </select> --}}
                        <br>

                        <div id='suggestion-button'>
                            Suggestions
                        </div>

                        <div id='detail-button'>
                            See All Activities
                        </div>
                    </div>
                </div>

                <!-- No data div -->
                <div id="no-data-div">
                    <h2 id='no-data-title'>There's no data!</h2>
                </div>
            </div>
        </div>
    </body>

    <script src='js/navbar.js'></script>
    <script src='js/cookies.js'></script>
	<script>
		var username = getCookie('username', document.cookie);
		if(username === '') {
			// Not logged in
			window.location.href = '/';
		}
	</script>

    <!-- Script that draws content based on response -->
    <script>
        const hourDay = 24;

        // Read activities
        const activities = [
            {{#each data}}
            {
                "name": "{{name}}",
                "color": "{{color}}",
                {{#each count}}
                "c-{{@index}}": {{this}},
                {{/each}}
                {{#each days}}
                "d-{{@index}}": {{this}},
                {{/each}}
            },
            {{/each}}
        ];

        function update() {
            var changeWeek = $('#week').val();
            var average = ($('#scale').val() === 'average');

            // Draw pie chart
            if(drawPieChart(changeWeek)) {
                populateActivitiesList(changeWeek, average);
                $('#no-data-div').css('display', 'none');
                $('#has-data-div').css('display', 'block');
            } else {
                $('#no-data-div').css('display', 'block');
                $('#has-data-div').css('display', 'none');
            }
        }

        // Document ready event
        $(document).ready(() => update());

        // Draw activity pie chart
        function drawPieChart(weekVal) {
            var canvas = document.getElementById('chart');
            var g = canvas.getContext('2d');

            g.clearRect(0, 0, canvas.width, canvas.height);

            // Angle var, align first activity to 0 degree
            var startAngle = -0.5*Math.PI;

            // Calculate percent
            var sum = 0.0;
            for(var i = 0; i < activities.length; i++) {
                sum += activities[i]['c-'+weekVal];
            }

            // No data
            if(sum === 0) {
                return false;
            }

            for(var i = 0; i < activities.length; i++) {
                activities[i]["percent"] = activities[i]['c-'+weekVal]/sum;
            }
            //console.log("Calculated percents:", activities, sum);

            // Draw each arc
            for(var i = 0; i < activities.length; i++) {
                // Draw arc
                var addAngle = activities[i]["percent"]*Math.PI*2.0;
                g.beginPath();
                g.moveTo(100,100);
                g.arc(100, 100, 100, startAngle, startAngle + addAngle);
                g.fillStyle = activities[i]["color"];
                g.fill();

                startAngle += addAngle;
            }

            return true;
        }
    
        // Populate activities list
        function populateActivitiesList(weekVal, average) {
            var list = document.getElementById("list");
            list.innerHTML = '';

            for(var i = 0; i < activities.length; i++) {
                if(activities[i]['c-'+weekVal] !== 0) {
                    var activity = document.createElement("li");
                    var icon = document.createElement("span");
                    activity.className = "list-entry";
                    icon.style.backgroundColor = activities[i]["color"];
                    if(average) {
                        activity.innerText = activities[i]["name"] + ": " + (activities[i]['c-'+weekVal]/(3600 * activities[i]['d-'+weekVal])).toFixed(2) + " hrs/day";
                    } else {
                        activity.innerText = activities[i]["name"] + ": " + (activities[i]['c-'+weekVal]/3600).toFixed(2) + " hrs";
                    }
                    activity.prepend(icon);
                    list.appendChild(activity);
                }
            }
        }

        // Register click dropdown
        $('#week').on('change', () => update());

        // Change average or total
        $('#scale').on('change', () => update());

        // Suggestions generate
        $('#suggestion-button').click(() => {
            window.location.href = '/suggestions?week=' + $('#week').val();
        });

        // Details button
        $('#detail-button').click(() => {
            window.location.href = '/details?week=' + $('#week').val();
        });
    </script>
</html>